---
layout: default
title: Innisfil Toastmasters
---

<div class="home" id="home">
  
  <!-- TODO: Move this to a 'Blog' section / mod header 

  <h1 class="pageTitle">Recent Posts</h1>
  <ul class="posts noList">
    {% for post in paginator.posts %}
      <li>
        <span class="date">{{ post.date | date: '%B %d, %Y' }}</span>
        <h3><a class="post-link" href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a></h3>
        <p>{% if post.description %}{{ post.description }}{% else %}{{ post.excerpt | strip_html }}{% endif %}</p>
      </li>
    {% endfor %}
  </ul>
  -->
 
  <!-- Pagination links -->
<!-- 
  <div class="pagination">
    {% if paginator.previous_page %}
      <a href="{{ paginator.previous_page_path | prepend: site.baseurl }}" class="previous button__outline">Newer Posts</a> 
    {% endif %}
    {% if paginator.next_page %}
      <a href="{{ paginator.next_page_path | prepend: site.baseurl }}" class="next button__outline">Older Posts</a>
    {% endif %}
  </div>

-->
  <h1 class="pageTitle">The Proven Way to Improve Your Speaking and Leadership</h1>

  <p class="intro"><span class="dropcap">T</span>oastmasters is a place where you develop and grow - both personally and professionally. You join a community of learners, who
use a hands-on approach and by learning by doing.</p>
  
  <div class="embed-container">
  <iframe
      src="https://www.youtube.com/embed/9vSF-mOVf_k"
      width="700"
      height="480"
      frameborder="0"
      allow="autoplay"    
      allowfullscreen="">
  </iframe>
</div>
  
  <p class="intro">Whether you are an executive, a stay-at-home parent, a college student
or a retiree, you can benefit.</p>
  
  <p>Toastmasters takeaways:</p>
  <ul>
    <li>Building skills to express yourself in a variety of situations</li>
    <li>Preparing and delivering more effective presentations</li>
    <li>Leading Meetings</li>  
    <li>Speaking off the cuff</li>
    <li>Handling one-on-one interactions with confidence</li>
  </ul>    
    
  <h3>How Does it Work?</h3>
  <p>The environment in a Toastmasters club is friendly and supportive. Everyone
at a Toastmasters meeting feels welcome and valued - from guest to beginner
to advanced speaker. In a club meeting, you practice delivering prepared
speeches, as well as brief, impromptu presentations, known as Table Topics.
There is no rush and no pressure: The Toastmasters program allows you to
progress at your own pace.</p>

  <h3>Meeting Time &amp; Location</h3>
  <p>
  We currently meet on the 1st and 3rd Thursday of every month from <b>7:30 - 9:00 pm</b>
  Innisfil Community Church 1571 Innisfil Beach Road, Innisfil, ON
  </p>
  <p>Please enter through the front door and follow the red arrows.</p>

  <div id="googlemap" >
    <iframe
      src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2855.145673831842!2d-79.58207208405311!3d44.30695567910434!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x882aba240f822169%3A0xae6ffd77293ef819!2sInnisfil%20Community%20Church!5e0!3m2!1sen!2sca!4v1581437218461!5m2!1sen!2sca"
      width="600" height="450" frameborder="0" style="border:0;" allowfullscreen=""></iframe>
  </div>


</div>
